<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264826102786-k4p1oq7vj6mclosrepc73jclv4ekjh99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264826102786-k4p1oq7vj6mclosrepc73jclv4ekjh99</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264826102786-hcm23d5377bvuvtd01tpvpidgs1i74vf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwYCtbpKJldJyoa1mOu49mcX4c8lVv9o</string>
	<key>GCM_SENDER_ID</key>
	<string>264826102786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kptar.kptarapp</string>
	<key>PROJECT_ID</key>
	<string>kptarapp-32f10</string>
	<key>STORAGE_BUCKET</key>
	<string>kptarapp-32f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264826102786:ios:797861e31914325c38f31b</string>
</dict>
</plist>